Ejercicio 5

Utilizando la biblioteca Pandas, crea un DataFrame llamado df_empleados que contenga dos columnas: nombre y edad.


La columna nombre debe contener los nombres de tres empleados: 'Ana', 'Luis' y 'Carlos'


La columna edad debe contener las edades correspondientes: 30, 25 y 40 Finalmente, muestra el DataFrame df_empleados utilizando la funci√≥n print().

In [ ]:
import pandas as pd

# Crear el DataFrame
data = {'nombre': ['Ana', 'Luis', 'Carlos'],
        'edad': [30, 25, 40]}
df_empleados = pd.DataFrame(data)

# Mostrar el DataFrame
print(df_empleados)

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40